body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    background-color: #333;
    display: block;
    margin: 20px auto;
}

#gameOverContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

#gameOverText {
    font-size: 24px;
    margin-bottom: 10px;
}

#restartButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#restartButton:hover {
    background-color: #45a049;
}
